.slide {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  :hover {
    opacity: 0.9;
  }
  .navigation-items {
    margin: 10px;
   
  }
}

#right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
#left {
  display: flex;
  width: 50%;
  flex-direction: row;
}
