.slide {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .navigation-items {
    margin: 10px;
  }
}

#navigation_hover {
  box-sizing: border-box;
  opacity: 0.7;
  height: 2px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #286b92;
  transition-delay: 0.2s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
#left {
  display: flex;
  width: 50%;
  flex-direction: row;
}
