.slide-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-top: 40px;
}
.images-container {
  display: flex;
  height: 70vh;
}

.image {
  width: 50%;
}

.image-text {
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  width: 30%;
}

.weather {
  @extend .image-text;
  text-align: center;
  margin-left: 40%;
  h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  h2 {
    @extend h1;
    font-size: 2rem;
  }
}
